.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 63px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;

      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #0CAFFF;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.9;
      }

      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #0CAFFF;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.9;
      }
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 32px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }

    .flat-button:hover{
      cursor:pointer;
    }

    position:relative;
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #0CAFFF;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #0CAFFF;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;
    border-radius: 0.5rem;

    &:hover {
      background: #0CAFFF;
      color: rgb(0, 0, 0);
    }
  }
  .todo{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
    position:absolute;
    left:400px;
    top:30px;
    height:700px;
    width:800px;
    overflow-x:auto;
    padding:60px 0px;
    font-family:'Coolvetica';
    font-size:14px;
  }
  
  .caja{
    width:550px;
    background-color:#252525;
    display:flex;
    align-items:center;
    flex-direction:column;
    padding:15px; 
    margin:10px;
    border-width:4px;
    border-style:solid;
    border-color:#0CAFFF;
    border-radius:10px;
    color:white;
  }
  
  .caja img{
    width:90%;
    height:70%;
    border-radius: 10px;
    padding: 5px;
    border-width:1px;
    border-style:solid;
  }

  .caja h3{
    color:white;
  }

  .caja span{
    border-width:1px;
    border-radius: 10px;
    border-style:solid;
    padding: 0px 10px;
    margin-right:3px;
    font-size:12px;
  }

  .caja:hover{
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
  }

 .caja h3{
    margin:auto;
    font-size: 20px;
    letter-spacing:2px;
    color:#0CAFFF;
  }

  .info{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:90%;
    height:20%;
  }

  .title{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-top:4px;
  }

  span{
    white-space:nowrap;
    display: inline-block;
  }

  .button-link{
    cursor:pointer;
    padding-left:3px;
  }
}

